<section class="profile-edit">
    <h1>Profile Edit</h1>

    <form action="/profile/<%= user['id'] %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="first_name" value="<%= user['first_name'] %>">
        <input type="text" name="last_name" value="<%= user['last_name'] %>">
        <input type="email" name="email" value="<%= user['email'] %>">
        <input type="text" name="fitness_goal" value="<%= user['fitness_goal'] %>">
        <input type="number" name="current_weight" value="<%= user['current_weight'] %>">
        <input type="number" name="goal_weight" value="<%= user['goal_weight'] %>">
        <input type="text" name="avatar_url" value="<%= user['avatar_url'] %>">
        <button>Update Profile</button>
    </form>
</section>